@use '@angular/material' as mat;

// Remove the prebuilt theme import
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  @include mat.core();

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      accent: mat.$blue-palette,
      warn: mat.$red-palette, // Add this for warn color
    ),
    typography: Roboto,
    density: 0,
  ));
}
